## Importing the required packages

In [0]:
import matplotlib.pyplot as plt
import pandas as pd
import pylab as pl
import numpy as np
import time
import math
%matplotlib inline

## About the dataset: (Synthetic)
#### Library dataset with the ID's of the students stored who enter the library through the E-Gates.
We convert the dataset from a Panda's dataframe to an Array using numpy. The integer values are stored in the array called "Hash_values".

There are 1068 entries (number of values to be hashed 'n'). As we are considering Open Address hashing, we do not want load factor (n/h, where 'h' is the size of the hash table) to ever exceed 1. Therefore, we choose a prime near the value of n and greater than it. Therefore, h = 1069, which is define as "hash_size".

In [40]:
url = 'https://raw.githubusercontent.com/arjunmann73/Machine-Learning/master/Regression/Simple%20Multivariate%20Linear%20Regression/FuelConsumption.csv'
csv_data = pd.read_csv(url)
csv_data.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [0]:
data = csv_data["CO2EMISSIONS"]
Hash_values = np.asanyarray(data)

In [42]:
Hash_values = Hash_values*10
Hash_values

array([1960, 2210, 1360, ..., 2710, 2600, 2940])

In [0]:
hash_table_double1 = [None] * 1069
hash_table_double2 = [None] * 1069
hash_size = 1069

In [0]:
def Auxiliary(k):
    return (k % hash_size)

def Folding(k):
    k = k*k
    c = bin(k)
    c = c[2:]
    c = c[0:5] + c[len(c)-5]
    c = int(c)
    return c

def Congruential(k):
  a = 6 * math.floor(hash_size/29) + 7 
  return (a*k)%hash_size

In [0]:
def Hash_Folding(k, i):
    return (Auxiliary(k) + i*Folding(k)) % hash_size

def Hash_Congruential(k, i):
    return (Auxiliary(k) + i*Congruential(k)) % hash_size

In [0]:
def hash_double_fold(key):
    i = 0 
    while(i != 1068):
        j = Hash_Folding(key, i)
        if(hash_table_double1[j] == None):
            hash_table_double1[j] = key;
            #print(j, key)
            return 
        else:
            i += 1
    print("Overflow")

In [0]:
def lookup_folding(val):
    code = Auxiliary(val)
    loc = code
    flag = 0
    i = 0
    while(hash_table_double1[loc] != None):
        if(hash_table_double1[loc] == val):
            #print("Succesful")
            flag = 1
            break;
        else:
            i+=1
            loc = Hash_Folding(val, i)
            if(loc == code):
                break;
    #print("Number of key comparisions: ", i+1)
    #if(flag==0):
        #print("Number does not exist in the table")
    return [i+1, flag]

## Load Factor ≅ 1

In [0]:
for j in range(1067):
    hash_double_fold(Hash_values[j])

#### Time Analysis and Number of Key Comparisions for Load Factor ≅ 1

In [59]:
#val = (int)(input("Enter value to be searched: "))
import random

value_success = []
value_fail = []
comparisions_success = []
comparisions_fail = []
time_taken_success = []
time_taken_fail = []

for x in range(10000):
  
  j = random.randint(180,420)
  j = j*10
  
  start_time = time.time()
  a = lookup_folding(j)
  
  temp = (time.time() - start_time)*1000
  
  if(a[1]):
    comparisions_success.append(a[0])
    time_taken_success.append(temp)
    value_success.append(j)
    
  else:
    comparisions_fail.append(a[0])
    time_taken_fail.append(temp)
    value_fail.append(j)

'''  
print("Successful Searches: " , len(value_success))
for i in range(len(value_success)):
  print("Value: " , value_success[i] , " Number of comparisions: ", comparisions_success[i] , " Time taken: ", time_taken_success[i])
  

print("Unsuccessful Searches: " , len(value_fail))
for i in range(len(value_fail)):
  print("Value: " , value_fail[i] , " Number of comparisions: ", comparisions_fail[i] , " Time taken: ", time_taken_fail[i])
'''

print("Successful Searches: " , len(value_success))
print("Average Comparisions: " , sum(comparisions_success)/len(comparisions_success) , " Average time taken in milliseconds: " , (sum(time_taken_success)/len(time_taken_success))*1000)
print("Unsuccessful Searches: ", len(value_fail))
print("Average Comparisions: " , sum(comparisions_fail)/len(comparisions_fail) , " Average time taken in milliseconds: " , (sum(time_taken_fail)/len(time_taken_fail))*1000)

Successful Searches:  5274
Average Comparisions:  2.030716723549488  Average time taken in milliseconds:  2.405206769264056
Unsuccessful Searches:  4726
Average Comparisions:  337.17414303851035  Average time taken in milliseconds:  440.2313301031538

In [0]:
def hash_double_congruential(key):
    i = 0
    while(i != 1068):
        j = Hash_Congruential(key, i)
        if(hash_table_double2[j] == None):
            hash_table_double2[j] = key;
            #print(j, key)
            return 
        else:
            i += 1
    print("Number of key comparisions: ", i+1)
    print("Overflow")

for j in range(1067):
    hash_double_congruential(Hash_values[j])
    
def lookup2(val):
    code = auxiliary(val)
    loc = code
    flag = 0
    i = 0
    while(hash_table_double2[loc] != None):
        if(hash_table_double2[loc] == val):
            print("Succesful")
            flag = 1
            break;
        else:
            i+=1
            loc = Hash_Congruential(val, i)
            if(loc == code):
                break;
    print("Number of key comparisions: ", i+1)
    if(flag==0):
        print("Number does not exist in the table")

In [0]:
val = (int)(input("Enter value to be searched: "))
start_time = time.time()
lookup2(val)
print("CPU time taken : %s seconds" % (time.time() - start_time))

In [0]:
a = 10124212
c = bin(a)
c = c[2:]
print(c)
c = c[(int)(len(c)/3):(int)((len(c)*2)/3)]
print(c)
c = int(c,2)
print(c)

100110100111101110110100
01111011
123